@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #CECECE;
    overflow: hidden;
    font-weight: normal;

    @media (max-width: 1024px) {
        overflow: auto;
    }
}

main {
    display: grid;
    grid-gap: 3em;
    overflow: hidden;
    width: 90%;
    background-color: black;
    margin: 0 auto 0;

    @media (max-width: 1024px) {
        grid: unset;
        width: 100%;
        display: block;
        padding: 0;
        margin-bottom: 2em;
    }
}

aside {

} @media (max-width: 1024px) {
    display: block;
}

section {
    grid-column-start: 2;
    column-span: 20;
    height: 70%;
    overflow: scroll;
    scrollbar-color: black black;
    scroll-behavior: smooth;
    margin-bottom: 3em;

    @media (max-width: 1024px) {
        display: block;
        overflow: visible;
        height: 100%;
        padding: 0.5em;
    }
}

section::-webkit-scrollbar {
    width: 0.5em;
    background-color: #000;
    border-radius: 1em;
}

article {
    padding: 1.5em 1em 1.5em;

    @media (max-width: 1024px) {
        padding: 0.5em;
    }
}

.project-article {
    background-color: #0a0a0a;
    margin-bottom: 1em;
}

.icon-article {
    display: flex;
    justify-items: start;
    padding-bottom: 3em;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.icon-p {
    display: inline;
    margin: 1em;
}

img {
    width: 100%;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
    font-weight: normal;

    @media (max-width: 1024px) {
        text-align: center;
        padding: 0;
    }
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.9em;
    letter-spacing: 0.05em;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.07em;
    padding: 0;
    margin-top: 0;
    font-weight: normal;
}

p {
    font-family: "Urbanist", sans-serif;
    font-size: 1em;
    padding: 0;

    margin-top: 1em;
}

h3 a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

h3 a:hover {
    color: #3cc;
}
